.page-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #030712;
    padding: 3rem 1rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
}

.card {
    width: 100%;
    max-width: 48rem;
    background-color: #1f2937;
    border-radius: 1rem;
    padding: 2rem;
}

.nav-button-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    max-width: 50rem;
    justify-content: center;
}


.nav-button {
    width: 16rem;
    height: 10rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 200ms;
    background-color: #2563eb;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.nav-button:hover {
    background-color: #3b82f6;
}

.title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: #ffffff;
}

.title-2 {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 500;
    color: #ffffff;
}

.title-3 {
  color: #d1d5db;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.caption {
  color: #d1d5db;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
