.page-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #030712;
    padding: 1rem 1rem;
}

.split-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    width: 100%;
}

@media (min-width: 1024px) {
    .split-container {
        flex-direction: row;
    }
}

.image-box {
    width: 100%;
    aspect-ratio: 16 / 9; /* Enforces widescreen aspect ratio */
    background-color: #111827;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 1px solid #374151;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

.message-container {
   width: 100%;
    max-width: 48rem;
    background-color: #1f2937;
    border-radius: 1rem;
    padding: 2rem;
}

.card {
    width: 100%;
    max-width: 48rem;
    background-color: #1f2937;
    border-radius: 1rem;
    padding: 2rem;
}

.card-wide {
    width: 200%;
    max-width: 48rem;
    background-color: #1f2937;
    border-radius: 1rem;
    padding: 2rem;
}

.cardGrid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: stretch; /* Forces all children to stretch edge-to-edge */
}

.nav-button-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    max-width: 50rem;
    justify-content: center;
}


.nav-button {
    width: 16rem;
    height: 10rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 200ms;
    background-color: #2563eb;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.nav-button:hover {
    background-color: #3b82f6;
}

.title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: #ffffff;
}

.title-2 {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 500;
    color: #ffffff;
}

.title-25 {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    color: #ffffff;
}

.title-3 {
    color: #d1d5db;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.note {
    color: #d1d5db;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 300;
}

.caption {
    color: #d1d5db;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.form-input {
    background-color: #374151;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid #4b5563;
    margin-bottom: 1px;
    width: 100%;
}

.form-input:focus {
    outline: none;
    border-color: #3b82f6;
}


.loading-input {
    background-color: #374151;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    color: #9ca3af;
    font-size: 0.875rem;
    line-height: 1.25rem;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}

.cancel-button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #374151;
    color: #ffffff;
    border-radius: 0.25rem;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.cancel-button:hover {
    background-color: #4B5563;
}

.save-button {
    padding: 1rem;
    background-color: #2563eb;
    color: #ffffff;
    border-radius: 0.25rem;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.save-button:hover {
    background-color: #3b82f6;
}

.save-button:disabled {
    opacity: 0.5;
}

.content-box {
    width: 100%;
    background-color: #1f2937;
    border-radius: 1rem;
    padding: 1.5rem;
}

.map-content-box {
    width: 90%;
    height: 90%;
    /* Increase this value to make the box wider */
    max-width: 200rem; /* Was 72rem */
    background-color: #1f2937;
    border-radius: 1rem;
    padding: 1.5rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.map-container {
    width: 100%;
    height: 80vh;
    border-radius: 0.5rem;
    border: 1px solid #374151;
}
